body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.title-text{
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

.add-btn {
    display: inline-block;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 20px;
}

.add-btn:hover {
    background-color: #45a049;
    transform: translateY(-3px);
}

.map {
    height: 500px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.todo-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.todo-title {
    font-weight: bold;
    color: #333;
}

.todo-description {
    color: #555;
    font-style: italic;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete-btn:hover {
    background-color: #ff4d4d;
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .todo-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .delete-btn {
        margin-top: 10px;
    }
}


#update-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
}